<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SafeEats Restaurant Checker</title>

    <!-- Bootstrap CSS --> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body>
    <!-- Page Content -->
    <div class="text-dark container col-9">
      <!-- Jumbotron Header -->
      <header class=" jumbotron jumbotron-fluid my-0 p-4">
        <h2 class="strong">SafeEats NYC<span class="small text-muted"> - Helping you eat out safely in the Big Apple</span></h2><hr class="my-4">
        <p class="lead">Going out to eat can be stressful when you are worried about food poisoning! It's difficult to know if restaurants are following safety guidelines well, and letter grades don't tell the whole story. We're here to help you choose a clean restaurant.</p>
      </header>
      <!-- Page Features -->
      {% if error %}
      <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
      {% endif %}
      
      <div class="mt-5 row text-left">
        <div class="mx-auto">
          <div class="bg-light text-dark card mx-auto">
            <div class="card-body">
                  <h2>What are you in the mood for?</h2>
                  <h4 class="mb-2 card-title">Select a cuisine type:</h4>

        <form action="/output" method="POST" role="form">
                <div class = "row">
                  <select class="form-control form-control-lg custom-select" name="cuisine" id="cuisine">
                    <option selected value="American">American</option>
                    <option value="Asian">Asian</option>
                    <option value="Italian">Italian</option>
                    <option value="Latin">Latin</option>
                    <option value="Cafe/Dessert">Cafe/Dessert</option>
                    <option value="Other">Other</option>
                  </select>
              </div>
        
              <div class="card-body">
                <h2>Where are you?</h2>
                <h4 class="mb-2 card-title">Enter Street Address:</h4>
              </div>
        
              <div class = "form-group row">
                <input type="text" class="form-control form-control-lg" name = "inputAddress" id="inputAddress" placeholder="1600 Broadway">
              </div>
            
            
              <div class="form-group row">
                <label for="inputZip" class = "col-sm-2 col-form-label">Enter Zip Code: </label>
                <input type="text" class="form-control" name = "inputZip" id="inputZip" placeholder = "10019">
              </div>

              <div class="card-body">
                <h2>How many miles can you travel?</h2>
              </div>
        
              <div class="form-group row">
                <input type="text" class="form-control" name = "inputDist" id="inputDist" placeholder = "5">
              </div>
        
              <div class = "form-group row">
                <div class = "col-sm-10">
                  <button type="submit" class="btn btn-success">Find a clean place!</button>
                </div>
              </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="static/js/bootstrap.min.js"></script>

  </body>
</html>
