<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Results page for SafeEats</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>

  <body>
    <!-- Page Content -->
    <div class="text-dark container col-9 mx-auto">
        <!-- Jumbotron Header -->
          <header class="jumbotron jumbotron-fluid my-0 p-4">
            <h3>You searched for <b>{{cuisine}}</b> restaurants within <b>{{Dist}}</b> miles from <b>{{address}}</b></h3>
            <h4>Here are the 3 closest restaurants predicted to be clean!</h4>
          </header>

      <!-- Page Features -->
      <div class="container">
        {% for index, row in yelp_output.iterrows() %}
      <div class="card-deck border-primary mb-3">
        <div class = "card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <h3 class = "card-header">{{row['dba']}}</h3>
          <div class = "card-body">
            <h4 class="card-title"> {{row['distance']}} miles from you </h4>
            <h4 class="card-text"> {{row['rating']}} star rating on yelp </h4>
            <h4 class="card-text"> {{row['display_phone']}}</h4>
            <a href="{{row['url']}}" class="btn btn-primary">Check yelp.com!</a>
          </div>
        </div>
      </div>
        {% endfor %}
      
      </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="static/js/bootstrap.min.js"></script>

  </body>
</html>



